<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transfer money</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UFT-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <form class="form-horizontal" th:action="@{/account/transferMoney}" th:method="post" th:object="${user}">


        <div>
            <label value="">Select User you want transfer money to: </label>
            <select th:value="${userToTransferTo}" id="userToTransferTo" name="userToTransferTo">
                <option th:each="user : ${usersList}" th:value="${user.username}" th:text="${user.username}"></option>
            </select>
        </div>




        <input type="hidden" th:field="*{username}"/>
        <input type="hidden" th:field="*{account}"/>
        <input type="hidden" th:field="*{password}"/>
        <input type="hidden" th:field="*{roles}"/>
        <input type="hidden" th:field="*{enabled}"/>
        <input type="hidden" th:field="*{locked}"/>

        <div class="form-group">
            <label class="control-label">How much money do you wish to transfer: </label>
            <input type="number" class="form-control" min="0" th:max="*{account.balance}" step='0.01' value='0.00' placeholder='0.00' th:value="${money}" id="money" name="money"/>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default">Confirm</button>
        </div>
    </form>
</div>
</body>
</html>